<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>青芒果商城</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/prettyPhoto.css">
    <link rel="stylesheet" href="styles/owl.carousel.css">
    <link rel="stylesheet" href="styles/revslider-center.css">
    <link rel="stylesheet" href="styles/jquery.selectbox.css">

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/responsive.css">

    
    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="/images/icons/icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <!--- jQuery -->
    <style type="text/css">
        
    </style>

</head>
<body>
    <div id="wrapper">

        <header id="header" class="header6" ng-hide="$state.includes('login')">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-left">
                                <ul id="top-links" class="clearfix">
                                    <li>
                                        <a href="#" title="My Wishlist"><span class="hide-for-xs">生态原产地产品保护网</span></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End .header-top-left -->
                            <div class="header-top-right">
                               <div class="header-text-container pull-right">
                                    <p class="header-text" id="welcome">欢迎来到青芒果商城！</p>
                                    <p class="header-link">
                                        <a href="#" id="username">&nbsp;&nbsp;</a>
                                        <a href="/views/login/login.html"><i class="fa fa-key"></i>&nbsp;&nbsp;退出</a>
                                    </p>
                                    <p class="header-link" id="wlogin">
                                        <a href="/views/login/login.html">登录</a>&nbsp;或&nbsp;<a href="/views/login/signup.html">注册</a>
                                    </p>
                                    <p class="header-link" ><a href="index.html" style="background-color:#80AE09;color:#FFFFFF;padding:10px 10px;margin-right:-10px">青芒果商城</a></p>
                                    <p class="header-link" ><a href="index.html" style="background-color:#80AE09;color:#FFFFFF;padding:10px 20px;margin-right:40px">评定代理</a></p>
                                </div>
                                <!-- End .pull-right -->
                            </div>
                            <!-- End .header-top-right -->
                        </div>
                        <!-- End .col-md-12 -->
                    </div>
                    <!-- End .row -->
                </div>
                <div id="main-nav-container" hidden="true"></div>
                <!-- End .container -->
            </div>

        </header>
        <!-- End #header -->
        <section id="content">

            <div id="breadcrumb-container" style="margin:0 0 20px 0;background:#FFFFFF">
                <div class="container" >
                    <div class="col-md-10 shop-head">
                        <!-- <img src="../images/middle-banner-1.jpg" width="150px" alt="" style="display:inline;vertical-align:middle"> -->
                        <div id="singleshop"></div>
                        <div class="shop-nav">
                            <ul >
                                <li style="float:left;margin:-17px 25px 0 580px">
                                    <a class="active" href="javascript:void(0)" style="margin-right:25px">首页</a>|
                                </li>
                                <li style="float:left;margin:-17px 25px 0 0">
                                    <a id="tuijian" href="javascript:;" class="nav-color" style="margin-right:25px">推荐</a>|
                                </li>
                                <!-- <li style="float:left;margin:-17px 25px 0 0">
                                    <a href="#shagnpin" style="margin-right:25px">商品</a>|
                                </li> -->
                                <li style="float:left;margin:-17px 25px 0 0">
                                    <a id="gushiId" href="javascript:;" class="nav-color" style="margin-right:25px;">故事</a>|
                                </li>
                                <li style="float:left;margin:-17px 25px 0 0">
                                    <a id="temaiId" href="javascript:;" class="nav-color" style="margin-right:25px">特卖</a>|
                                </li>
                                <!-- <li style="float:left;margin:-17px 25px 0 0">
                                    <a href="#fenxiao">分销</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
   
                    <div class="col-md-2">
                        <a href="#"><img src="../images/weixin.png" width="25px" alt="" style="display:inline"></a>
                        <a href="#"><img src="../images/weibo.png" width="25px" alt="" style="display:inline"></a>
                        <a href="#"><img src="../images/kongjian.png" width="25px" alt="" style="display:inline"></a>
                        <a href="#"><img src="../images/douban.png" width="25px" alt="" style="display:inline"></a>
                       <!--  <a href="/sale">
                            <div style="width:80px;background-color:#80AE09;margin:25px 0 0 -100px;color:#FFFFFF;text-align:center;padding:8px">成为会员</div>
                        </a> -->
                        <!-- <a href="javascript:void(0)"> -->
                            <!-- <div id="toBeMember" style="width:115px;background-color:#80AE09;margin:30px 0 0 0;color:#FFFFFF;text-align:center;padding:8px">成为会员</div> -->
                            <button id="toBeMember" class="toBeMember" disabled="true" >成为会员</button>
                            <button id="beMember" class="beMember" disabled="true" hidden>已是会员</button>
                        <!-- </a> -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .breadcrumb-container -->
            <div id="slider-rev-container">
                <div id="slider-rev">
                    <ul>
                        
                    </ul>
                </div><!-- End #slider-rev -->
            </div><!-- End #slider-rev-container -->
            
            <div class="xlg-margin"></div><!-- Space -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="row">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 main-content">
                                <div class="row home-banners" id="shopAds" hidden>
                                </div><!-- End .home-banners -->
                                <div class="lg-margin"></div><!-- space -->
                                <!-- 锚点 -->
                                <a name="tuijian"></a>
                                <div class="purchased-items-container carousel-wrapper" id="selectcommodityStatus" hidden>
                                    <header class="content-title">
                                        <div class="title-bg">
                                            <h2 class="title">推荐商品</h2>
                                        </div><!-- End .title-bg -->
                                        <p class="title-desc">本产品仅对于本店会员开放,会员同时可以享受打折优惠</p>
                                    </header>
                                    <div class="carousel-controls">
                                        <div id="purchased-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
                                        <div id="purchased-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
                                    </div><!-- End .carousel-controllers -->
                                    <div class="purchased-items-slider owl-carousel" id="selectcommodity">
                                       <!-- End .item -->
                                  
                                    </div><!--purchased-items-slider -->

                                </div>
                                
                                <div class="lg-margin"></div><!-- Space -->
                                <!-- 锚点 -->
                                <a name="gushi"></a>
                                <div class="row" id="story">
                                    
                                </div><!-- End .row -->

                                <div class="xlg-margin"></div><!-- Space -->
                                <!-- 锚点 -->
                                <a name="temai"></a>                        
                                <div class="purchased-items-container carousel-wrapper" id="sellcommodityStatus" hidden>
                                    <header class="content-title">
                                        <div class="title-bg">
                                            <h2 class="title">特卖商品</h2>
                                        </div><!-- End .title-bg -->
                                        <p class="title-desc">本产品仅对于本店会员开放,会员同时可以享受打折优惠</p>
                                    </header>
                                
                                    <div class="carousel-controls">
                                        <div id="purchased-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
                                        <div id="purchased-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
                                    </div><!-- End .carousel-controllers -->
                                    <div class="purchased-items-slider owl-carousel" id="sellcommodity">

                                    </div><!--purchased-items-slider -->
                                </div>
                            </div><!-- End .col-md-12 -->
                        </div><!-- End .row -->

                        <div class="lg-margin"></div><!-- Space -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </section>
        <!-- End #content -->

        <footer id="footer">
            <div id="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>最受欢迎</h3>
                            </div>
                            <!-- End .title-bg -->

                            <div class="footer-popular-slider flexslider footerslider">
                                <ul class="slides" id="hotsellcommodityoffoot">
                                    
                                </ul>
                            </div>
                            <!-- End Footerpouplar-slider -->
                            <div class="md-margin visible-xs"></div>
                            <!-- space -->
                        </div>
                        <!-- End .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>精选</h3>
                            </div>
                            <!-- End .title-bg -->

                            <div class="footer-featured-slider flexslider footerslider">
                                <ul class="slides" id="selectcommodityoffoot">
                                </ul>
                            </div>
                            <!-- End Footerpouplar-slider -->
                            <div class="md-margin visible-xs"></div>
                            <!-- space -->
                        </div>
                        <!-- End .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>特卖</h3>
                            </div>
                            <!-- End .title-bg -->

                            <div class="footer-specials-slider flexslider footerslider">
                                <ul class="slides" id="sellcommodityoffoot">
                                </ul>
                            </div>
                            <!-- End Footerpouplar-slider -->

                        </div>
                        <!-- End .col-md-4 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End #footer-top -->

            <div id="inner-footer">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>购物指南</h3>
                            <ul class="links">
                                <li>
                                    <a href="#">积分制度</a>
                                </li>
                                <li>
                                    <a href="#">会员介绍</a>
                                </li>
                                <li>
                                    <a href="#">购物流程</a>
                                </li>
                                <li>
                                    <a href="#">常见问题</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End .widget -->

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>配送服务</h3>
                            <ul class="links">
                                <li>
                                    <a href="#">配送政策</a>
                                </li>
                                <li>
                                    <a href="#">开箱验货</a>
                                </li>
                                <li>
                                    <a href="#">配送运费</a>
                                </li>
                                <li>
                                    <a href="#">配送范围</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End .widget -->

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>支付方式</h3>

                            <ul class="contact-list">
                                <li><a href="/infomation">货到付款</a></li>
                                <li>在线支付</li>
                                <li>优选卡</li>
                                <li>发票制度</li>
                            </ul>
                        </div>
                        <!-- End .widget -->
                        <!-- <div class="clearfix visible-sm"></div> -->

                        <div class="col-md-3 col-sm-12 col-xs-12 widget">
                            <h3>售后服务</h3>

                            <ul class="contact-list">
                                <li>退款说明</li>
                                <li>退换货流程</li>
                                <li>退换货政策</li>
                                <li>隐私条款</li>
                            </ul>


                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->

            </div>
            <!-- End #inner-footer -->

            <div id="footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12 footer-text-container" style="text-align:center">
                            <p>&copy; 2014 Powered by Company&trade;. All Rights Reserved.</p>
                        </div>
                        <!-- End .col-md-5 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End #footer-bottom -->

        </footer>
        <!-- End #footer -->
    </div>

       <!-- 微信 -->
    <!-- <a href="#" name="weixin2" class="scroll-top fixed" title="weixin" style="margin-bottom:200px">
        <img src="images/weixin1.png" width="40px" height="40px" alt="图片为加载">
    </a>
    <div id="weixin2" class="scroll-top" style="background:#FAFAFA;padding:13px;margin:0 50px 200px 0;font-size:15px;color:#1D1D1D" >官方微信号：yyg0001000
    </div> -->
    <!-- QQ -->
    <a href="#" class="scroll-top fixed communication1 " title="qq" style="margin-bottom:150px"><img src="images/QQ1.png" style="width:40px;height:40px" alt="图片为加载"></a>
    <div id="qq" class="scroll-top communication2" style="background:#FAFAFA;padding:10px;margin:0 50px 150px 0;font-size:15px;color:#1D1D1D" >
        <img src="images/QQ2.png" style="width:20px;height:20px" alt="图片为加载">&nbsp;&nbsp;1045094514
    </div>
    <!-- telephone -->
    <a href="#" class="scroll-top fixed communication1" title="telephone" style="margin-bottom:100px"><img src="images/telephone1.png" style="width:40px;height:40px" alt="图片为加载"></a>
    <div id="telephone" class="scroll-top communication2" style="background:#FAFAFA;padding:10px;margin:0 50px 100px 0;font-size:15px;color:#1D1D1D" >
        <img src="images/telephone2.png" style="width:20px;height:20px" alt="图片为加载">&nbsp;&nbsp;15563259631
    </div>
    <!-- email -->
    <a href="#" class="scroll-top fixed communication1" title="email" style="margin-bottom:50px"><img src="images/email1.png" style="width:40px;height:40px" alt="图片为加载"></a>
    <div id="email" class="scroll-top communication2" style="background:#FAFAFA;padding:10px;margin:0 50px 50px 0;font-size:15px;color:#1D1D1D" >
        <img src="images/email2.png" style="width:20px;height:20px" alt="图片为加载">&nbsp;&nbsp;123@163.com
    </div>
    
    <a href="#" id="scroll-top" class="scroll-top" title="Scroll to Top"><img src="images/toTop1.png" style="width:40px;height:40px" alt="图片为加载"></a>
    <!-- <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a> -->
    <!-- End #scroll-top -->

    <!-- END -->
    <script src="scripts/js/jquery-1.11.1.min.js"></script>
    <script src="scripts/js/getUrlParam.js"></script>
    <script src="scripts/js/modernizr.custom.js"></script>
    <script src="scripts/js/bootstrap.min.js"></script>
    <script src="scripts/js/smoothscroll.js"></script>
    <script src="scripts/js/jquery.debouncedresize.js"></script>
    <script src="scripts/js/retina.min.js"></script>
    <script src="scripts/js/jquery.placeholder.js"></script>
    <script src="scripts/js/jquery.hoverIntent.min.js"></script>
    <script src="scripts/js/twitter/jquery.tweet.min.js"></script>
    <script src="scripts/js/jquery.flexslider-min.js"></script>
    <script src="scripts/js/owl.carousel.min.js"></script>
    <script src="scripts/js/jflickrfeed.min.js"></script>
    <script src="scripts/js/jquery.prettyPhoto.js"></script>
    <script src="scripts/js/jquery.themepunch.tools.min.js"></script>
    <script src="scripts/js/jquery.themepunch.revolution.js"></script>
    <script src="scripts/js/main.js"></script>
    <script src="scripts/singleshop/singleshop.js"></script>
    
    
    
</body>
</html>
