<section id="loginContent">
    <div class="login-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-3 col-xs-12 ">
                        <a href="index.html">
                            <img src="../../images/login-logo.png" alt="logo" width="200" height="54" style="vertical-align:middle;display:inline">
                            <font color="#FFFFFF" size="4.5">生态商城会员登录</font>
                        </a>
                </div>
                <!-- End .col-md-12 -->
            </div>
            <!-- End .row -->
        </div>
    </div>
    <div ui-view></div>
    
    <div class="login-bottom">
        <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p>关于我们 - 联系我们 - 加入我们 - 生态商城 - 帮助中心 - 网站地图</p>
                    <p>生态商城 版权所有 &copy; 2014 北京万诚信用评价有限公司 京ICP备：14050587号</p>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </div>
</section>
