<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<meta charset="utf-8">
	<title>青芒果商城</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="styles/responsive.css">
	<!-- Favicon and Apple Icons -->
	<link rel="icon" type="image/png" href="/images/icons/icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png"></head>
<body>
	<!--wrapper-->
	<div id="wrapper">
		<section id="loginContent">
			<div class="login-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-3 col-xs-12 ">
							<a href="index.html">
								<img src="../../images/login-user.png" alt="logo" width="485" height="84" style="vertical-align:middle;display:inline">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="login-content">
				<div class="container">
					<div class="row top">
						<div class=" col-md-6 col-sm-6 col-xs-12"> <font color="#545454">用户登录</font>
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12" style="margin-left:60px;">
							<span style="color:#545454">
								还没有账号，现在就
								<a href="views/login/signup.html" style="background:#79BB0B;color:#fff;padding:5px 10px">注册</a>
							</span>
						</div>
					</div>
					<div class="row bottom">
						<img src="../../images/login.png" alt="" style="width:548px;height:360px;float:left">
						<div class="form-horizontal" style="width:548px;background:#FFFFFF;float:left;padding:57px 30px">
								<div class="row" style="margin:50px 30px 10px 10px">
									<div class="col-md-12">
										<div class="form-group">
											<label class="col-md-2 control-label">帐号</label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="username" placeholder="帐号"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="col-md-2 control-label">密码</label>
											<div class="col-md-10">
												<input type="password" class="form-control" id="password" placeholder="密码" onkeypress="BindEnter();"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<button class="btn-custom" style="width:100%" id="login">登录</button>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<input type="checkbox">
												自动登录
												<a href="/views/login/find-psw.html" style="color:#7C807E;float:right">忘记密码</a>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
					<!-- End .row -->
				</div>
			</div>
			<div class="login-bottom">
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12">
						<p>关于我们 - 联系我们 - 加入我们 - 生态商城 - 帮助中心 - 网站地图</p>
						<p>国家生态原产地保护产品商城 版权所有 &copy; 2015 北京XXXXX有限公司 京ICP备：14050587号</p>
					</div>
				</div>
			</div>
		</section>
	</div>
<!--End wrapper>
<!--scroll-top-->
<a href="#" id="scroll-top" title="Scroll to Top"> <i class="fa fa-angle-up"></i>
</a>
<!-- End scroll-top -->
<script src="scripts/js/jquery-1.11.1.min.js"></script>
<script src="scripts/login/login.js"></script>
</body>
</html>