<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-calm">
        <div>
        <a href="javascript:history.back()" class="detailClose logout">
            注销
        </a>    
            <h1 class="title">客户信息管理</h1>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="home">
            <div class="chaxunchabiao">
                <a href="#/querys">
                <div class="selects">
                    <img src="img/xinxitou.png">
                    <img src="img/chaxunguanli.png" width="120px" ng-click="button();">
                </div>
                </a>
                <a href="#/meter">
                <div class="selects">
                    <img src="img/xinxitou.png">
                    <img src="img/chaobiaoguanli.png" width="120px" ng-click="youhui();">
                </div>
                </a>

            </div>
            <img class="full-image" src="img/cloud.png" id="home_cloud">
        </div>
    </ion-content>
</ion-view>