<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-calm">
        <div>
          <a href="javascript:history.back()">
            <button class="button icon-left ion-chevron-left button-clear " ng-click="back()">
            </button>
          </a>  
            <h1 class="title">新建客户</h1>
        </div>
    </ion-header-bar>
    <ion-content scroll="true" class="bgcolor-denglu">
        <ul class="list">
            <li class="firstitem">
                <div class="onemargin">
                  户主姓名<i class="ion-ios-arrow-forward buttonright" ></i>
                </div>
              <div class="firstspan"></div>
            </li>
            <li class="seconditem">
                  房间<i class="ion-ios-arrow-forward buttonright" ></i>
              <div class="firstspan"></div>
            </li>
            <li class="seconditem">
                  地址<i class="ion-ios-arrow-forward buttonright" ></i>
              <div class="firstspan"></div>
            </li>
            <li class="seconditem">
                  余额<i class="ion-ios-arrow-forward buttonright" ></i>
              <div class="firstspan"></div>
            </li>                                                  
        </ul>         
          <div class="biaoti">备注</div>
            <form class="texta">
              <textarea cols="3" rows="3"></textarea>
            </form>
          </div>  
        <div class="buttons-wrap">
              <!-- Buttons -->
              <div class="buttons margin-10">
                  <a href="#" class="btn btn-round btn-middle"><span>删除</span></a>
                  <a href="#" class="btn btn-round btn-middle"><span>修改</span></a>
                  <a href="#" class="btn btn-round btn-middle"><span>添加</span></a>
              </div>
              <!--/ Buttons -->
          </div>
    </ion-content>
</ion-view>