<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-calm">
        <div>
        <a href="javascript:history.back()">
            <button class="button icon-left ion-chevron-left button-clear " >
            </button>
        </a>    
            <h1 class="title">数据查询</h1>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="bgcolor-denglu">
       <div class="list">

          <a class="item item-icon-left" href="#/3/eleDetialList">
            TOM
            <span class="item-note">
              -10$
            </span>
          </a>

          <a class="item item-icon-left item-icon-right" href="#/3/eleDetialList">
            ELL
            <span class="item-note">
              -10$
            </span>
          </a>
            
          <a class="item item-icon-left" href="#/3/eleDetialList">
            RUNME
            <span class="item-note">
              -10$
            </span>
          </a>

          <a class="item item-icon-left" href="#/3/eleDetialList">
            Friends
            <span class="item-note">
              -10$
            </span>
          </a>

        </div>
    </ion-content>
</ion-view>