<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-calm">
        <div>
          <a href="javascript:history.back()">
            <button class="button icon-left ion-chevron-left button-clear " ng-click="back()">
            </button>
          </a>
            <h1 class="title">抄表报表</h1>
        </div>
    </ion-header-bar>
    <ion-content scroll="true" class="bgcolor-denglu">
      <div class="list">
          <a class="item item-icon-left" href="#/3/eleDetialList">
            TOM
            <span class="item-note">
              -10$
            </span>
          </a>

          <a class="item item-icon-left item-icon-right" href="#/2/eleDetialList">
            ELL
            <span class="item-note">
              -10$
            </span>
          </a>
            
          <a class="item item-icon-left" href="#/3/eleDetialList">
            RUNME
            <span class="item-note">
              -10$
            </span>
          </a>

          <a class="item item-icon-left" href="#/3/eleDetialList">
            Friends
            <span class="item-note">
              -10$
            </span>
          </a>

      </div>
<!--        <ul class="list">
            <li class="firstitem">
                <div class="onemargin">
                  表号 <span id="importent"></span><i class="ion-ios-arrow-forward buttonright" onclick="noopen()"></i>
                </div>
              <div class="firstspan"></div>
            </li>
            <li class="seconditem">
                  表数<i class="ion-ios-arrow-forward buttonright" ></i>
              <div class="firstspan"></div>
            </li>
             <li class="seconditem">
                      本年度数 <span id="importent"></span><i class="ion-ios-arrow-forward buttonright" onclick="noopen()"></i>
                  <div class="firstspan"></div>
                </li>                                                  
        </ul>--> 
 <!--        <div class="biaoti">备注</div>
                     <form class="texta">
                       <textarea cols="3" rows="3"></textarea>
                     </form>
                 </div>  -->                
    </ion-content>
</ion-view>