.myfooter{
	width: 960px;
	height: 128px;
	padding: 40px;
	margin: 0 auto;
}
.myfooter .content{
	border-top: 1px solid #eee;
	padding-top: 6px;
}
.myfooter .content ul:first-child {
	float: left;
	margin-right: 15%;
}
.myfooter .content li{
	font-size: 12px;
	color: #000;
	text-decoration: none;
	list-style-type: none;
	margin-top: 16px;
}
.myfooter .content ul:last-child{
	float: right;
	margin-right: 10%;
}