<!DOCTYPE html>
<html lang="en" ng-app="banana">
<head>
	<meta charset="UTF-8">
	<title>test 03筛选</title>
	<script type="text/javascript" src="../angular-1.2.23/angular.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</head>
<body ng-controller="BananaListCtrl">
	<select ng-model="orderProp">
		<option value="name">name</option>
		<option value="age">age</option>
	</select>
	<ul>
		<li ng-repeat="banana in bananas | orderBy:orderProp">
			<span>{{banana.name}}</span>
			<p>{{banana.sizes}}</p>
		</li>
	</ul>
	<p>{{orderProp}}</p>
</body>
</html>