body,ul,p {
	padding: 0; margin: 0;
} 
li {
	list-style: none;
}
img {
	border:none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
body {
	background-color: #fff;
}
#top {
	width: 960px; 
	height: 100px;
	margin: 0 auto; 
	position: relative;
}
#top .top {
	position: absolute;
	left: 6px; 
	top: 13px;
}
#top ul { 
	width: 680px; 
	height: 69px;
	position: absolute;
	right: -10px; 
	top: 15px;
}
#top li {
	float: left;
}
#top a { 
	width: 69px; 
	height: 69px;
	margin: 0 20px;
	display: block;
}
#top .top_ul img {
	position: absolute;
	top: 25px;
}
#top .p1 {
	margin-left: 15px;
}
#top .p2 {
	margin-left: 10;
}
#top .focus {
	background: url(../images/2/a_bg.png );
}
#top .top_ul a:hover {
	background: url(../images/2/a_bg.png ); 
}
#nav {
	height: 275px;
	margin: 0 auto;
	background-image: url(../images/4/nav_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
}
#nav .pic {
	margin: 0 auto;
	width: 960px;
	height: 275px;
}

#bg_r {
	width: 100%;
	height: 1625px;	
	position: absolute;
	top: 1507px; right: 0;
	background: url(../images/4/bg_r.png ) no-repeat right top scroll;

}
#bg_l { 
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 3180px; 
	left: 0;
	background: url(../images/4/bg_l.png ) no-repeat left top scroll;
}
#bg_b {
	width: 825px; 
	height: 460px;
	position: absolute;
	top: 3720px; 
	right: 0;
	background: url(../images/4/bg_b.png) no-repeat right top;
}
#page {
	height: 3796px;
}
#body {
	width: 960px; 
	height: 3796px;
	margin: 0 auto ;
	position: relative;
}
#breadcrumb-1 {
	position: absolute;
	top: 0px;left: 0px;
	color: #999;
}
#breadcrumb-1 a:hover ,#breadcrumb-1 a {
	color: #aa1b04;
}
#side {
	width: 108px;
	height: 146px;
	position: absolute;
	top: 57px; 
	left: 0px;
}
#side a {
	width: 108px; height: 23px;
	font-size: 19px;
	font-family: "微软雅黑";
	color: #000;
	font-weight: bold;
	margin: 28px 3px;
	text-indent: 14px;
	display: block;
	background: url(../images/dot_b.png ) no-repeat 0px 7px ;
	overflow: hidden;
}
#side a.f, #side a:hover{
	background: url(../images/dot.png ) no-repeat  0px 7px;
	color: #aa1b04;
}

#centent {
	width: 850px;
	height: 3796px;
	position: absolute;
	left: 109px;
	background: url(../images/5/c_bg.png ) no-repeat;
}
#con {
	width: 750px; 
	height: 3796px;
	margin: 0 18px 0 82px;
}
#con h2{
	font-family: "微软雅黑";
 	color: #ccc;
 	font-size: 28px;
 	margin-top: 30px;
 	display: block;
}
#con p {
	font-family: "微软雅黑";
	font-size: 18px;
	margin: 40px 0;
	color: #999;
}
#con img {
	display: block;
	margin: 20px 0;
}
#centent .other {
	width: 850px; 
	height: 130px;
	margin-top:-150px; 
}
#con h4 {
	font-family: "微软雅黑";
	font-size: 24px;
	text-indent: 42px;
	background: url(../images/5/title_bg.png) no-repeat 0 -6px;
	margin: 22px 0;
	width: 270px;
	height: 24px;
}
#con span {
	font-size: 18px; 
	color: #999;
	line-height: 30px;
	padding-left: 48px;
}
#bottom {
	height: 132px;
	margin: 0px auto;
	background: url(../images/4/bottom_bg.png) no-repeat center;
}
#bottom .bottom_nav {
	width: 960px; 
	height: 132px;
	margin: 0 auto;
	position: relative;
}
#bottom .f1{
	width: 176px;
	height: 24px; 
	position: absolute;
	top: 34px;
}
#bottom li {
	float: left;
}
#bottom .a1 {
	display: block;
	width: 74px; 
	height: 24px;
	background: url(../images/4/bg.png ) no-repeat 0 -319px;
}
#bottom .a2 {
	display: block;
	width: 32px; 
	height: 24px;
	background: url(../images/4/bg.png ) no-repeat 0 -344px;
}
#bottom .a3 {
	display: block;
	width: 28px;
	height: 24px;
	background: url(../images/4/bg.png ) no-repeat 0 -367px;
}
#bottom .a4 {
	display: block;
	width: 28px;
	height: 24px;
	background: url(../images/4/bg.png ) no-repeat 0 -391px;
}
#bottom a {
	margin-left: 3px;
}
#bottom .f2 {
	width: 236px; 
	height: 35px;
	display: block;
	position: absolute;
	top: 33px; right: 0px;
	background: url(../images/4/a_bg.png) no-repeat;
}
#bottom .f2 a {
	width: 54px;
	height: 12px;
	display: block;
	margin: 11px 11px;
} 
#bottom hr {
	position: absolute;
	top: 76px; 
	width: 960px;
	border: 1px dashed #f9f8f6;
}
#bottom p {
	position: absolute;
	top: 90px;
	color: #fff; 
	font-weight: bold;
	font-size: 12px;
}