<!DOCTYPE html>
<html lang="en" ng-app="UserInfoModule">
<head>
	<meta charset="UTF-8">
	<title>form</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/form.css">
	<script src="js/angular.js"></script>
	<script src="js/form.js"></script>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">双向数据绑定</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form" ng-controller="UserInfoCtrl">
						<div class="form-group">
							<label class="col-md-2 control-label">
								邮箱：
							</label>
							<div class="col-md-10">
								<input type="email" class="form-control" placeholder="推荐用Gmail" ng-model="userInfo.email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">
								密码：
							</label>
							<div class="col-md-10">
								<input type="password" class="form-control" placeholder="只能使用数字、字母、下划线" ng-model="userInfo.password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="userInfo.autoLogin">自动登录
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-3">
								<button class="btn btn-default" ng-click="getFormData()">
									获取form表单的值
								</button>
								<button class="btn btn-default" ng-click="setFormData()">
									设置form表单的值
								</button>
								<button class="btn btn-default" ng-click="resetFormData()">
									重置form表单的值
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-12" ng-controller='ColorCtrl'>
					<div ng-class='{red:isRed,green:isGreen}' class="form-group">{{setMessage}}aaa</div>
					<button class="btn btn-default" ng-click='setRed()'>
						red
					</button>
					<button class="btn btn-default" ng-click='setGreen()'>green</button>
				</div>
				<div class="col-md-12" ng-controller='ShowCtrl'>
					<ul ng-show='liShow.show'>
						<li>aaaa</li>
						<li>bbbb</li>
						<li>cccc</li>
					</ul>
					<button class="btn btn-default" ng-click='showHide()'>
						点我显示或隐藏
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>