<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/styles/bootstrap.min.css">

	<title>delivery</title>
	<style>
		body{
			height: 550px;
		}
		.uc-title{
			color: #79bb0b;
			text-indent: 20px;
			border-bottom: 2px solid #79bb0b;
			line-height: 34px;
		}
		.centent{
			width: 100%;
			text-align: left;
			padding-top: 30px;
			padding-left: 20px;
		}
		.btn-green{
			width: 120px;height: 36px;
			background-color: #79bb0b;
			color: #fff;
		}
	</style>
</head>
<body>
	<div>
		<div class="uc-title">
			配送方式
		</div>
		<div class="centent">
			<big>顺丰速运</big>负责配送，运费<span style="color:red;font-size:17px;">免运费</span><br><br>
			商品下单后尽快为您发货，预计发货后48小时送达。<br><br>
			<button class="btn btn-green">
				保存配送信息
			</button>
		</div>
	</div>
</body>
</html>