<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-calm">
        <div>
        <a href="javascript:history.back()">
            <button class="button icon-left ion-chevron-left button-clear " ng-click="back()">
            </button>
        </a>    
            <h1 class="title">查询总界面</h1>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" class="bgcolor-denglu" on-swipe-right="onSwipeRight()">
        <div class="home" >
            <div class="list">
                <a href="#/filerById">
                    <div class="selects">
                        <img src="img/xinxitou.png">
                        <img src="img/biaohaochaxun.png" width="120px" ng-click="youhui();">
                    </div>
                </a>
                <a href="#/uncheckedList">
                    <div class="selects">
                        <img src="img/xinxitou.png">
                        <img src="img/chaobiaobaobiao.png" width="120px" ng-click="youhui();">
                    </div>
                </a>
                <a href="#/arrearge">
                    <div class="selects">
                        <img src="img/xinxitou.png">
                        <img src="img/qianfeibaobiao.png" width="120px" ng-click="button();">
                    </div>
                </a>
            </div>
            <img class="full-image" src="img/cloud.png" id="home_cloud">
        </div>
    </ion-content>
</ion-view>