<div title="activity">
    <div class="tabs-header">
		<a href="">
			<button class="button button-header-back"><i class="iconfont icon-left">&#xe617</i><h1>活动信息</h1></button>
		</a>
		<button class="button button-header-left" >
			<i class="iconfont icon-message"style="font-size:34px;margin-left:-5px;">&#xe625</i>
		</button>
		<button class="button button-header-right" ng-click="postFavorite()">
			<i class="iconfont icon-message"style="font-size:34px;margin-left:-3px;">&#xe605</i>
		</button>
	</div>
    <div class="row-message">
		<h1>{{activity.name}}</h1>
		<p style="position:absolute;top:35px;font-size:15px;color:#a9a9ae;">{{activity.startTime}}-{{activity.endTime}}</p>
	<!-- 	<span>120km</span>
	 -->
	 </div>

	<div class="button-nav" >
	<!-- <a href="#/activity-detail/{{activityId}}/activity-introduction" class="col">-->	
		<button class="button" title="introduction" ng-click="clickButton()"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:25px;display:block;margin-bottom:-2px;color:#85868d;">&#xe60a</i>
			说明
		</button>
	<!--</a>
		<a href="#/activity-detail/{{activityId}}/activity-dynamic" class="col"> -->
		<button class="button" title="dynamic" ng-click="clickButton()"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe610</i>
			动态
		</button>
	<!-- 	</a>
		<a href="#/activity-detail/{{activityId}}/activity-promotion" class="col"> -->
		<button class="button" title="promotion" ng-click="clickButton()"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe611</i>
			优惠
		</button>
	<!-- 	</a>
		<a href="#/activity-detail/{{activityId}}/activity-shop" class="col"> -->
		<button class="button" title="shop" ng-click="clickButton()"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe610</i>
			商家
		</button>
		<!-- </a> -->
	</div>
	<div class="ul-bg">
		<ul class="list-detail margin-5">
			<li class="item clear-border-top" style="font-size:14px">
				<span>{{activity.extData.phone}}</span>
				<i class="iconfont text-align-right"style="float:right;font-size:20px;color:#85868d;margin-top:10px;">&#xe61d</i>
			</li>
			<li class="item"style="font-size:14px">
	 			<i class="iconfont text-align-right"style="float:left;font-size:28px;">&#xe601</i>
				<span>{{activity.extData.sponsor}}</span>
				<i class="iconfont text-align-right"style="float:right;font-size:20px;color:#85868d;">&#xe620</i>		
			</li>
		</ul>
    </div>
</div>