<div title="Shop">
	<div class="tabs-header">
		<a href="">
			<button class="button button-header-back"><i class="iconfont icon-left">&#xe617</i><h1>商家信息</h1></button>
		</a>
		<button class="button button-header-left" ><i class="iconfont icon-message"style="font-size:34px;margin-left:-5px;">&#xe625</i></button>
		<button class="button button-header-right" ng-click="postFavorite()"><i class="iconfont icon-message"style="font-size:34px;margin-left:-3px;">&#xe605</i></button>
	</div>
	<div class="row-message">
		<h1>{{shop.name}}</h1>
		<h2>
			<img src="img/shop-you.png" alt="" width="45" height="20">
			<img src="img/shop-vip.png" alt="" width="45" height="20">
		</h2>
		<p>
			<i class="iconfont icon-star" style="color:orange;">&#xe623&#xe623&#xe623&#xe623&#xe623</i>
		</p>
    </div>
    <div class="button-nav margin-top" id="resources">
	<!-- <a href="#/shop-detail/{{shopId}}/shop-environment">
 -->	<button class="button" title="environment"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe61e</i>
			环境
		</button>
<!-- 		</a>
		<a href="#/shop-detail/{{shopId}}/shop-goods"> -->
		<button class="button" title="goods"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe61f</i>
	        商品
	     </button>
<!-- 	     </a>
		<a href="#/shop-detail/{{shopId}}/shop-promotion" > -->
		<button class="button" title="promotions"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe611</i>
	        优惠
        </button>
<!-- 	    </a>
		<a href="#/shop-detail/{{shopId}}/shop-activity" > -->
		<button class="button" title="activities"style="color:#85868d;font-size:15px;">
			<i class="iconfont"style="font-size:30px;display:block;margin-bottom:-2px;color:#85868d;">&#xe602</i>
	        活动</button>
<!-- 		</a> -->
	</div>
	<div class="ul-bg">
		<ul class="list-detail">
			<li class="item clear-border-top" style="font-size:14px">
				<span>{{shop.location}}</span>
				<i class="iconfont text-align-right" style="float:right;font-size:20px;color:#85868d;">&#xe618</i>
			</li>
			<li class="item"style="font-size:14px">
				<span>{{shop.extData.phone}}</span>
				<i class="iconfont text-align-right"style="float:right;font-size:20px;color:#85868d;">&#xe61d</i>
			</li>
		</ul>
	</div>
</div>