.body{
	margin: 0 auto;
	width: 960px;

}
body{
	
}

/*------ body header ------*/
.body .bodyHeader{
	height: 400px;

}
.body .bodyHeader .bhAd{
	width: 240px;
	height: 400px;
	float: left;
	-webkit-tansition:height .5s ease-in;
}
.body .bodyHeader div:nth-child(even){
	background-color: #B0EFED;
	
}
.body .bodyHeader div:nth-child(odd){
	background-color: #13D0CC;
	
}

.body .bodyHeader .bhAd{
	overflow: hidden;
}
/*------ /body header ------*/


/*------ body content ------*/

.body .bodycontent{
	padding: 12px 0 0 0;
}

.body .bodycontent .listHeader{
	height: 80px; 
	width: 100%;
	background-color: #eee;
	margin-bottom: 6px;
}

.body .bodycontent .shoplist{
	width: 149px;
	height: 150px;
	margin: 6px 11px 6px 0;
	background-color: #13D0CC;
	float: left;
	overflow: hidden;
}
.clear{
	clear: both;
}
.goTopDiv{
	position: fixed;
	width: 50px;
	height: 45px;
	bottom: 100px;
	right: 50px;
	background: #95EAC5;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	opacity: 0;
	font-size: 15px;
	line-height: 15px;
	padding-top: 16px;
	text-align: center;
}
/*------ /body content ------*/